* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h3 {
    font-weight: 800;
    text-decoration: underline;
}

h4 {
    font-weight: 800;
    margin: 10px 0px 10px;
}

section {
    border: 1px;
    width: 500px;
    padding: 5px 30px 5px;
    margin: 0px;
}

header {
    border: 1px solid blue;
    width: 500px;
    padding: 30px;
    margin: 0px;
}

ul {
    padding: 0px 20px 0px;
}

.claseFecha {
    font-size: larger;
    font-weight: normal;
}

.claseLugar {
    color: blue;
}

.claseSeparador {
    border: 5px solid blue;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    width: fit-content;
    padding: 0px;
    margin: 0px;
}

#ultimoSeparador{
    border: 5px solid blue;
    border-left: 0px;
    border-right: 0px;
    width: fit-content;
    padding: 0px;
    margin: 0px;
}